<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>[content:title]--{aspcms:sortname}--{aspcms:sitetitle}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/wap/css/style.css" media="screen" />
    <!--[if lt IE 9]>
		<script src="../../../../html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
    <div id="wrapper">
        {aspcms:top}
        <!--Section Starts-->
        <section id="main">
            <!--Block Starts-->
            <div class="block_module paper_bh_white">
                <div class="page">
                    <h1>[content:title]</h1>
                    [content:info] </div>
            </div>
            <!--Block Ends-->

        </section>
        <!--Section Ends-->
        {aspcms:foot}
    </div>
    <!-- JQuery -->
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/wap/js/jquery.min.js"></script>
    <!-- 	
	Simple Carousel
	Copyright (c) 2010 Tobias Zeising, http://www.aditu.de
	Licensed under the MIT license
	
	http://code.google.com/p/simple-carousel
-->
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/wap/js/slider.js"></script>

    <!-- JQueryUI -->
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/wap/js/jquery-ui-1.8.16.custom.min.js"></script>

    <!-- Script Controls -->
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/wap/js/site.js"></script>
</body>

</html>
