<header>
    <div class="inner">
        <div class="top-logo inner">
            <a href="/" title="{aspcms:sitetitle}" id="web_logo"> <img src="{aspcms:sitelogo}" alt="{aspcms:sitetitle}" title="{aspcms:sitetitle}" style="margin:15px 0px 0px 0px;" /> </a>
            <ul class="top-nav list-none">
                <li class="t">
                    <a href='/?lg=en'>English</a><span>|</span>
                    <a href='#' onclick='SetHome(this,window.location,"非IE浏览器不支持此功能，请手动设置！");' style='cursor:pointer;' title='设为首页'>设为首页</a><span>|</span>
                    <a href='#' onclick='addFavorite("非IE浏览器不支持此功能，请手动设置！");' style='cursor:pointer;' title='收藏本站'>收藏本站</a></li>
            </ul>
        </div>
    </div>
    <nav>
        <div class="inner">
            <ul class="list-none">
                <li id="nav_10001" style='width:97px;'><a href='/' title='首页' class='nav'><span>首页</span></a></li>
                <li id="nav_10001" style='width:97px;'><a href='http://www.asp4cms.com/label' class='nav' target="_blank"><span>标签手册</span></a></li>
                {aspcms:navlist}
                <li class="line"></li>
                <li id='nav_[navlist:sortid]' style='width:97px;'><a href='[navlist:link]' title='[navlist:name]' class='hover-none nav'><span>[navlist:name]</span></a> {if:[navlist:subcount]>0}
                    <dl>
                        {aspcms:1navlist type=[navlist:sortid]}
                        <dd><a href='[1navlist:link]' title='[1navlist:name]'>[1navlist:name]</a></dd>
                        {/aspcms:1navlist}

                    </dl>
                    {end if}
                </li>
                {/aspcms:navlist}

            </ul>
        </div>
    </nav>
</header>
