<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{aspcms:sitetitle}-{aspcms:sortname}</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/style.css">
	<link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/main.css">
	<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery.min.js"></script>
	<script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery.flexslider.js"></script>
	<script type="text/javascript">
	$(function() {
    $(".flexslider").flexslider({
		slideshowSpeed: 5000, //展示时间间隔ms
		animationSpeed: 1000, //滚动时间ms
		pauseOnHover: true,
		animation:"slide",
		direction:"vertical",
		directionNav: false
	});
});	
</script>
	</script>
</head>
<body>
	{aspcms:top}
	{aspcms:template src=banner.html}


	<div class="ny_content">
	[about:info]
	</div>

	{aspcms:foot}
</body>
</html>