<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{aspcms:sitetitle}-{aspcms:sortname}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/main.css">
    <script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery.min.js"></script>
</head>
<body>
    {aspcms:top}
    {aspcms:template src=banner.html}
    <div class="details">
        <dt>
            <h5>[news:title]</h5>
            <p><span>发布时间: [news:date]</span></p>
        </dt>
        <br>
        [news:info]
        <div class="xiayiye">
            <p>上一篇：{aspcms:prev}</p>
            <br>
            <p>下一篇：{aspcms:next}</p>
        </div>
    </div>
    {aspcms:foot}
</body>
</html>