<div class="box_five">
        <div class="box_five_this">
            <div class="bf_one">
                <h5>联系我们</h5>
                <p>{aspcms:companyname}</p>
                <span class="bfo_o">地址：{aspcms:companyaddress}</span>
                <span class="bfo_t">电话：{aspcms:companyphone}</span>
                <span class="bfo_h">邮箱：{aspcms:companyemail}</span>
            </div>
            <div class="bf_two">
                <h5>快速导航</h5>
                <ul>
                    <li><a href="/">网站首页</a></li>           
                      
                    <li><a href="/about/?1.html">关于我们</a></li>
                      
                    <li><a href="/list/?5_1.html">经典工程</a></li>
                      
                    <li><a href="/list/?6_1.html">科技创新</a></li>
                      
                    <li><a href="/list/?3_1.html">中联建设报</a></li>
                      
                    <li><a href="/list/?11_1.html">人才招聘</a></li>
                      
                    <li><a href="/about/?53.html">联系我们</a></li>
                      
                </ul>
            </div>
            <div class="bf_three">
                <h5>关注我们</h5>
                <div class="ewm">
                    <img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/picture/ewm.jpg">
                </div>
            </div>
        </div>
        <div class="banquan">
            <p>版权所有：{aspcms:companyname} &nbsp;&nbsp;&nbsp;&nbsp;备案号：赣ICP备13004751号&nbsp;&nbsp;&nbsp;&nbsp;  技术支持：<a href="http://app.dinfen.com/">书生商友</a> </p>
        </div>
    </div>