<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{aspcms:sitetitle}-{aspcms:sortname}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/main.css">
    <script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery.min.js"></script>
</head>
<body>
    {aspcms:top}
    {aspcms:template src=banner.html}
    <div class="work_body">
        <ul>
            {aspcms:list size=10} 
                <li>
                    <a href="[list:link]">
                        <dl>
                            <dt>
                                <p>[list:date style=d]</p>
                                <span>[list:date style=yy-m]</span>
                            </dt>
                            <dd>
                                <h5>[list:title len=15]</h5>
                                <p>[list:desc len=100]</p>
                            </dd>
                        </dl>
                    </a>
                </li> 
            {/aspcms:list} 
        </ul>
    </div>
    <div class="feny">
       [list:pagenumber]
    </div>
    {aspcms:foot}
</body>
</html>