<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{aspcms:sitetitle}-{aspcms:sortname}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/main.css">
    <script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery.min.js"></script>
</head>
<body>
    {aspcms:top}
    {aspcms:template src=banner.html}
   <div class="honor_top">
        <h5></h5>
        <h4>[news:title]</h4>
        <span></span>
    </div>
    <div class="dan">
       [news:info]
    </div>
    <div class="xiayiye">
        <p>上一篇：{aspcms:prev}</p>
        <br>
        <p>下一篇：{aspcms:next}</p>
    </div>
    {aspcms:foot}
</body>
</html>