<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{aspcms:sitetitle}-{aspcms:sortname}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/main.css">
    <script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery.min.js"></script>
</head>
<body>
    {aspcms:top}
    {aspcms:template src=banner.html}
    <div class="pro_list pde_nrq">
        <ul id="pichuan">
            {aspcms:list size=10}
                <li>
                    <h3>
                        <a href="[list:link]"><img src="[list:pic]">
                        <p>[list:title len=10]</p>
                        <span></span></a>
                    </h3>
                </li>
            {/aspcms:list}
            <div class="clear"></div>
        </ul>
    </div>
    <div class="feny">
       [list:pagenumber]
    </div>
    {aspcms:foot}
</body>
</html>