<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{aspcms:sitetitle}</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/style.css">
    <link rel="stylesheet" type="text/css" href="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/css/main.css">
    <script type="text/javascript" src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery-1.10.2.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/jquery.tools.min.js"></script>
    <script src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/js/main.js"></script>
</head>
<body>
   
    {aspcms:top}
    {aspcms:template src=banner.html}
    <div class="join">
        <div class="join_top">
            <dl>
                <dt><img src="{aspcms:sitepath}/Templates/{aspcms:defaulttemplate}/picture/1-1p10q23211247.png"></dt>
                <dd>
                    <h5>人才招聘</h5>
                    <p>
                    想神马有神马想工作，来这里！<br />
这里有高薪的工作岗位，这里有年轻活力的团队。<br />
这里有你想要的一切！只要敢想，没有什么做不了！无限的发展空间，我们的成长邀请你一同参与！  
                    </p>
                </dd>
            </dl>
        </div>
        <div class="join_foot">
            <div class="der_top">
                <div class="detp_one"><span>职位名称</span></div>
                <div class="detp_two"><span>学历要求</span></div>
                <div class="detp_three"><span>工作年限</span></div>
                <div class="detp_four"><span>发布时间</span></div>
                <div class="detp_fove"><span>查看详情</span></div>
            </div>
            <ul class="jon_body">
            {aspcms:list size=1000}
            <li>
                    <div class="der">
                        <span class="arrow up">
                            <div class="detp_one"><p>[list:title]</p></div>
                            <div class="detp_two"><p>大专及以上</p></div>
                            <div class="detp_three"><p>一年或以上工作经验</p></div>
                            <div class="detp_four"><p>[list:date style-yy-m-d]</p></div>
                            <div class="detp_fove"><p></p></div>
                         </span>
                   </div>
                    <div class="menu">
                       [list:desc]
                    </div>
                </li>
            {/aspcms:list}
        
            </ul>
        </div>
    </div>
   {aspcms:foot}
</body>
</html>